:root {
  --primary: #0a3f51;
  --primary-light: #3e6a7d;
  --primary-dark: #001928;
  --secondary: #4da688;
  --secondary-light: #7fd8b8;
  --secondary-dark: #13765b;
  --light: #dbdfde;
  --lighter: #f3ede9;
  --dark: ;
  --darker: #242322;

  --purple: #583b56;
  --purple-dark: #351933;
  --beige: #d2c296;
  --beige-light: #ede3bf;
  --beige-dark: #98a160;
}
